#contactSection {
  margin-top: 10vh; }

#contactContainer {
  font-family: "Roboto", sans-serif;
  background-color: #e7eff1;
  padding: 5%;
  text-align: center; }

#contactGmail {
  font-family: "Caveat", cursive;
  font-size: 1.5rem;
  padding: 1rem; }

.icons {
  font-size: 2rem;
  display: flex;
  justify-content: center; }
  .icons i {
    margin: 3rem 3rem 0 3rem;
    transition-duration: 0.3s;
    color: #333333; }
    .icons i:hover {
      transform: scale(1.2);
      transition-duration: 0.3s; }

#copyright {
  padding: 0.3rem;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1rem; }
  #copyright p {
    margin: 0; }

@media (max-width: 1024px) {
  #contactContainer {
    padding: 5%; }
  #contactGmail {
    font-size: 1.5rem;
    padding: 0; }
  #copyright {
    padding: 0.3rem;
    text-align: center;
    font-size: 1rem; }
    #copyright p {
      margin: 0; }
  .icons {
    font-size: 1.5rem;
    display: flex;
    justify-content: center; }
    .icons i {
      margin: 1.5rem; } }

@media (max-width: 414px) {
  #contactGmail {
    font-size: 0.7rem; }
  #copyright {
    font-size: 0.1rem; }
  .icons {
    font-size: 0.7rem; }
  #contactContainer p {
    font-size: 0.8rem; } }
