//////////////////////////////////////////////
//font family
$font1: "Roboto", sans-serif;
$font2: "Caveat", cursive;

//////////////////////////////////////////////
//font size
$h1Font: 2.2rem;
$h2Font: 1.5rem;
$h3Font: 1.2rem;
$pFont: 1rem;
$IconFont: 2rem;

//////////////////////////////////////////////
//color
$fontColor: #333333;
$mainColor: #e7eff1;
$subColor: #d8d8f6;

//////////////////////////////////////////////
//underline
$underline: linear-gradient(transparent 60%, #d8d8f6 80%);

//////////////////////////////////////////////
//padding
$section: 10vh;

//////////////////////////////////////////////
//media query font size
$h1Font2: 0.9rem;
$h2Font2: 0.7rem;
$h3Font2: 0.5rem;
$pFont2: 0.1rem;
$IconFont2: 0.7rem;

$h1Font3: 1.7rem;
$h2Font3: 1.5rem;
$h3Font3: 1.3rem;
$pFont3: 1rem;
$IconFont3: 1.5rem;
